html {
  scroll-behavior: smooth;
}

body{
  font-weight: 100;
  letter-spacing: 1px;
  font-weight:500;

}

section{
  min-height: 100vh;

}

#Home{
  background-color: #f6f6f6;
}

#About{
  background-color: #6B64FA;
}

#projects{
  background-color: #f6f6f6;
}

#contact{
  background-color: #6B64FA;
}



.navWrapper{
  max-width: 1000px;
  margin: 0 auto;
  padding:0px;
}

/* Flex Container */
.flex-nav ul {

  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  list-style: none;


}

.flex-nav li {
  margin: 10px;
  border-radius: 5px;
  color: #2d2626;
	padding: 15px;
}

.flex-nav a {
  color: #191b1b;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  padding:20px 5px;
  display: inline;
  width: 100%;
  text-align: center;
  transition:all 0.5s;
}

.flex-nav a:hover {
  background: #6C62FF;
  text-decoration: none;
  color: white;
  border-radius:40px;
}

#web{
  color: #6C62FF;
}

.jumbotron{
  background-color: #f6f6f6;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  letter-spacing: 2px;

}



#mainillustraion{
  height: 80%;
  width: 80%;
  margin-left: 10%;
}

#learnMore{
  border-radius:40px;
  background-color: #6C62FF;
}

.socialbar{
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.socialbar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.socialbar a:hover {
  background-color: #6C62FF;
}

.github{
  color: white;
  background-color: #100E13;
}

.linkedin{
  color: white;
  background-color: #207FA7;
}

.resumeicon{
  color: white;
}

.resumebackground{
  background-color: #92353F;
  cursor: pointer;
}

#aboutimage{
  margin-top: 20%;
  margin-left: 15%;
}

.aboutWrapper{
  margin-top: 2%;

}

.hide{
  display: none;
}

.about2{
  display: none;
}

.cardWrapper{
  width:75%;
  margin-left: 13%;
}

.cardRow{
  margin-bottom: 5%;
}

.card{
  background-image:
        linear-gradient(rgba(108, 98, 255, 0.6), rgba(108, 98, 255, 0.6)),
        url('images/what-the-hex.png');
}

.cardbtn{
  background-color: white;s
  color: black;
  border-radius:40px;
}

.card-deck{
  margin-bottom: 2%;
}

.contact{
		padding: 4%;
		height: 400px;
	}
	.col-md-3{
		background: #241E75;
    color: white;
		padding: 4%;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
	}
	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}
	.col-md-9{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.contact-form label{
		font-weight:600;
    padding-right: 0;
	}
	.contact-form button{
		background: #6B64FA;
		color: #fff;
		font-weight: 600;
		width: 25%;
	}
	.contact-form button:focus{
		box-shadow:none;
	}

  .contactRow{
    margin-top: 8%;
  }

ul{
  margin-bottom: 0;
}

.projectHead{
  margin-left: 45%;
  margin-top: 1%;
}

#toggler{
  display: none;
}

.mobileNav{
  display: none;
}

.togglerShow{
  display: flex;
}

@media all and (max-width:600px) {
  .socialbar{
    display: none;
  }

  .flex-nav ul {

    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    list-style: none;
    flex-direction: column;


  }

  #toggler{
    display: inline-block;
  }

  #items {

    display: none;


  }

  .flex-nav a {
    color: #191b1b;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    padding:20px 5px;
    display: inline;
    width: 100%;
    text-align: center;
    transition:all 0.5s;
  }

  #mobilegit{
    color: white;
  }

  #mobilelink{
    color: white;
  }

}
